fastapi
uvicorn
langchain
langgraph
faiss-cpu
sentence-transformers
groq
kafka-python
rank-bm25
python-dotenv
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
 multipart
 supabase-py